body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 600px;
    width: 600px;
}

.cell {
    height: 200px;
    width: 200px;
    border: black solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: 0;
}

.cell:nth-child(3n+1) {
    border-left: 0;
}

.cell:nth-child(3n+3) {
    border-right: 0;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: 0;
}

.cell.x::before {
    content: 'X';
    font-size: 100px;
}

.cell.o::before {
    content: 'O';
    font-size: 100px;
}

.cell.xhover:hover::before {
    content: 'X';
    opacity: 0.5;
    font-size: 100px;
}

.cell.ohover:hover::before {
    content: 'O';
    opacity: 0.5;
    font-size: 100px;
}

.game_over_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winner_text {
    font-size: 100px;
    color: red;
    padding: 0;
    margin: 0;
}

.new_game_button {
    font-size: 40px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
}


